.nav-right {
  gap: 10px;
}
nav {
  background: white;
  box-shadow: none;
  z-index: 99999;
  box-shadow: none;
}

.intro {
  background-color: #ffe957;
  border-radius: 10px;
  padding: 50px 10px;
  height: 380px;
  overflow: visible;
}
.intro > div > h1 {
  color: #57564d;
  margin-bottom: 10px;
}
.intro > div > p {
  color: "#57564D";
  margin-bottom: 20px;
}
.intro > div > a {
  color: #6c63ff;
  display: flex;
  align-items: center;
  gap: 5px;
}
.card_section {
  margin-top: 300px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .intro {
    height: auto;
    gap: 20px;
  }
  .cardContainer {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /* CSS */
}

/* hamburger css */
