.nav-right {
  gap: 10px;
}

nav {
  background: white;
  box-shadow: none;
  z-index: 99999;
  box-shadow: none;
}

.intro {
  background-color: #ffe957;
  border-radius: 10px;
  padding: 50px 10px;
  height: 380px;
  overflow: visible;
}
.intro > div > h1 {
  color: #57564d;
  margin-bottom: 10px;
}
.intro > div > p {
  color: "#57564D";
  margin-bottom: 20px;
}
.intro > div > a {
  color: #6c63ff;
  display: flex;
  align-items: center;
  gap: 5px;
}
.card_section {
  margin-top: 300px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .intro {
    height: auto;
    gap: 20px;
  }
  .cardContainer {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /* CSS */
}

/* side bar */

#header {
  position: absolute;
  width: 220px;
}
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: transparent;
  color: #6c63ff;
  border-radius: 3px;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  border-right: 5px solid #6c63ff;
  background-color: #f2f1ff;
}
#header .logo {
  padding: 20px;
}
.logotext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.settingsNotification {
  background-color: #ff1414;
  color: white;
  padding: 3px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 500;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
